* {
    box-sizing: border-box;
    overflow-x: hidden;
    --primary-color: white;
    --secundary-color: #2156dc;
    --terciary-color: #eddbac;
}

.main-title {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secundary-color);
    font-size: 3rem;
}
.tools {
    display: flex;
    justify-content: space-between;
}

.undo-btn {
    margin-left: 1em; 
}

.btn {
    overflow: hidden;
    background-color: #eee;
    padding: 0.5em;
    border: 1px solid black;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #999;
}
.btn:active {
    box-shadow: #333;
    box-shadow: -2px -2px 0px 3px rgba(0,0,0,0.27) inset;
}
.delete-note {
    height: 3em;
    width: 3em;
}


.search-box {
    margin-right: 1em;
    font-size: 1em;
}
.note-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note{
    margin: 0.5%;
    width: 100%;
    min-height: 100px;
    background-color: var(--terciary-color);
    word-wrap: break-word;
    padding: 1em;
    cursor:default;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.05s ease-in;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.note:hover:not(.prevent-hover) {
    background-color: var(--secundary-color);
    color: #fff;
}


.note-top {
    display: flex;
    justify-content: space-between;
}

.note-title {
    color: #aa811b;
    transition: all 0.2s ease-in-out;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 0.5em;
}

.note:hover .note-title {
    color: white;
}

.note-title, .note-text {
    margin: 0;
}
.note-text {
    white-space: pre-wrap;
}
.note-last-edit {
    font-size: 12px;
    text-align: right;
    /* color: #2E5CD1; */
}

.text-container {
    overflow: hidden;
    max-height: 300px;
}


#new-note-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 100px;
    height: 100px;
    background: #333;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0.5%;
    min-height: 100px;
    transition: background-color 0.2s ease-in;
    border-radius: 5px;
    z-index: 1;
}

#new-note-btn svg {
    width: 80%;
}

#new-note-btn:hover {
    background-color: #2E5CD1;
}
/* Drag and Drop*/

.draggable {
    opacity: 0;
}
/* Modal box ---------------------- */

.modal-container {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}
.modal-box {
    position: fixed;
    margin-top: 0;
    padding: 2em;
    background-color: var(--terciary-color);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    max-height: 100vh;
    border-radius: 5px;
}

.box-last-edit {
    text-align: right;
    color: black;
    font-size: 12px;
}
.box-creation-date {
    color: black;
    font-size: 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
.back-btn  {
    height: 4em;
    width: 4em;
}
#box-title-input {
    font-size: 2em;
    width: 100%;
    background-color: var(--modal-box-color);
    border: none;
    font-weight: 700;
}

#box-title-input:focus-visible, 
#box-text-input:focus-visible {
    border: none;
    outline: none;
}

#box-text-input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    background-color: var(--modal-box-color);
    border: none;
}

.animated-modal {
    animation: appear 0.15s ease-in;
}

@media screen and (min-width: 576px) {
    .note, #new-note-btn {
        width: 49%;
        height: auto;
        position: static;
    }
    #new-note-btn svg {
        width: 40%;
    }
    .modal-container {
        padding-top: 0;
    }
    .modal-box {
        margin-top: 5%;
        width: 80vw;
        height: auto;
        max-height: 80vh;
    }
}


@media screen and (min-width: 768px) {
    .note, #new-note-btn {
        width: 32%;
    }
    
    .modal-box {
        width: 60vw;
    }
}

@media screen and (min-width: 992px) {
    .note, #new-note-btn {
        width: 24%;
    }
    
    .modal-box {
        width: 40vw;
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding-left: 10%;
        padding-right: 10%;
    }
    .note, #new-note-btn {
        width: 19%;
    }
    
    .modal-box {
        width: 40vw;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: none;
    }
} 